{% extends "base.html" %}

{% block title %}{{ trans(key="page_blog_title", lang=lang) }} — {{ config.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="page-title">
    <h1>{{ trans(key="page_blog_title", lang=lang) }}</h1>
    <p>{{ trans(key="page_blog_desc", lang=lang) }}</p>
  </div>

  <section class="section">
    <div class="blog-list">
      {% for page in section.pages %}
      {% include "partials/blog-item.html" %}
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
